<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App with Nodejs and Mongodb</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet nulla vitae ex vulputate commodo. Suspendisse libero metus, vulputate ac magna quis, gravida consequat magna. Aenean at enim quis urna sollicitudin aliquam. Quisque maximus vel sem sed suscipit. Nulla efficitur fermentum dignissim. Maecenas a fermentum turpis. Duis non justo bibendum, bibendum purus a, dapibus lectus. Morbi tincidunt porttitor nisl, et vehicula enim dignissim vel.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet nulla vitae ex vulputate commodo. Suspendisse libero metus, vulputate ac magna quis, gravida consequat magna. Aenean at enim quis urna sollicitudin aliquam. Quisque maximus vel sem sed suscipit. Nulla efficitur fermentum dignissim. Maecenas a fermentum turpis. Duis non justo bibendum, bibendum purus a, dapibus lectus. Morbi tincidunt porttitor nisl, et vehicula enim dignissim vel.</p>  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet nulla vitae ex vulputate commodo. Suspendisse libero metus, vulputate ac magna quis, gravida consequat magna. Aenean at enim quis urna sollicitudin aliquam. Quisque maximus vel sem sed suscipit. Nulla efficitur fermentum dignissim. Maecenas a fermentum turpis. Duis non justo bibendum, bibendum purus a, dapibus lectus. Morbi tincidunt porttitor nisl, et vehicula enim dignissim vel.</p>  
</div>
